body {
    background-color: #FCFAEC;
}

.tabs {
    list-style: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
}
.tabs input[type="radio"] {
   display: none;
}
.tabs label {
 display: inline-block;
 margin: 0px;
 font-family: 'gill sans', sans-serif;
 padding: 10px 20px;
 font-weight: 650;
 text-align: center; 
 color: #342907;
 border: 1px solid transparent;
 border-radius: 15px;
}

.tabs label:before {
 font-weight: normal;
 margin-right: 10px;
}

.tabs label:hover {
 color: #788075;
 cursor: pointer;
}

.tabs .tabContent {
   width: 100%;
   padding: 50px;
   background: #FCFAEC;
   order: 1;
   display: none;
}
.tabs .tabContent h2 {
   font-size: 3em;
}

.tabs input[type='radio']:checked + label + .tabContent {
   display: block;
}

.tabs input[type="radio"]:checked + label {
   color: #90acd3;
   background: radial-gradient(ellipse, #eee 0, #f7f7f7, #393A42 100%);    
}

.wrapper .title label {
 color: #393A42;
 font-weight: 2000;
 font-family: 'Trebuchet MS', sans-serif;
 font-size:55px;
}
