a {
    color: #99B5C9;
}
body {
    background-color: #FEFEF3;
}

.tabs {
    list-style: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: stretch;
}
.tabs input[type="radio"] {
   display: none;
}
.tabs label {
 display: inline-block;
 margin: 0px;
 font-family: 'gill sans', sans-serif;
 padding: 10px 20px;
 font-weight: 650;
 text-align: center; 
 color: #342907;
 border: 1px solid transparent;
 border-radius: 15px;
}

.tabs label:before {
 font-weight: normal;
 margin-right: 10px;
}

.tabs label:hover {
 color: #788075;
 cursor: pointer;
}

.tabs .tabContent {
   width: 100%;
   padding: 50px;
   background-color: #FEFEF3;
   order: 1;
   display: none;
}
.tabs .tabContent h2 {
   font-size: 3em;
}

.tabs input[type='radio']:checked + label + .tabContent {
   display: block;
}

.tabs input[type="radio"]:checked + label {
   color: #99B5C9;  
}

.wrapper .title label {
 color: #99B5C9;
 font-weight: 2000;
 font-family: 'Trebuchet MS', sans-serif;
 font-size:55px;
}

.tabs .tabContent .radialContent .image {
  opacity: 1;
  display: block;
  right: 50%;
  top: 33%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.tabs .tabContent .waveContent .image {
  opacity: 1;
  display: block;
  left: 50%;
  top: 33%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.wave_text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.radial_text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.tabs .tabContent .waveContent:hover .image {
  opacity: 0.3;
}

.tabs .tabContent .radialContent:hover .image {
  opacity: 0.3;
}

.tabs .tabContent .waveContent:hover .wave_text {
  opacity: 1;
}
.tabs .tabContent .radialContent:hover .radial_text {
  opacity: 1;
}

.tabs .tabContent .waveContent .wave_text .text {
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 2000;
}

.tabs .tabContent .radialContent .radial_text .text {
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 2000;
}
