body {
    background-color: #FEFEF3;
}

.tabs {
    list-style: none;
   display: flex;
   flex-flow: row wrap;
   justify-content: stretch;
}
.tabs input[type="radio"] {
   display: none;
}
.tabs label {
 display: inline-block;
 margin: 0px;
 font-family: 'gill sans', sans-serif;
 padding: 10px 20px;
 font-weight: 650;
 text-align: center; 
 color: #342907;
 border: 1px solid transparent;
 border-radius: 15px;
}

.tabs label:before {
 font-weight: normal;
 margin-right: 10px;
}

.tabs label:hover {
 color: #788075;
 cursor: pointer;
}

.tabs .tabContent {
   width: 100%;
   padding: 50px;
   background-color: #FEFEF3;
   order: 1;
   display: none;
}
.tabs .tabContent h2 {
   font-size: 3em;
}

.tabs input[type='radio']:checked + label + .tabContent {
   display: block;
}

.tabs input[type="radio"]:checked + label {
   color: #99B5C9;  
}

.wrapper .title label {
 color: #99B5C9;
 font-weight: 2000;
 font-family: 'Trebuchet MS', sans-serif;
 font-size:55px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.tabs .tabContent:hover .image {
  opacity: 0.3;
}

.tabs .tabContent:hover .middle {
  opacity: 1;
}

.tabs .tabContent .middle .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
