<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!--
        <h1><a href="{{ "/" | absolute_url }}">{{ page.title | default: site.github.repository_name }}</a></h1>
        -->
        <div class="title">
          <label >Katy Miles</label>
        </div>

        <p>{{ page.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ page.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ page.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ page.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      
  <section class="custom_section">
    <!-- ------------------------------------------------------------------------ -->
    <!--                           Formatting Tabs                                -->
    <!-- ------------------------------------------------------------------------ -->
     <div class="tabs">
 
        <!-- ------------- ADD RESUME HERE  ----------- --> 
        <input type="radio" name="tabs" id="tab3"> 
        <label for="tab3">Resume</label>
        <div class="tabContent">
          <object data="Resume (1).pdf" 
                  align="right"
                  width="100%" 
                  height="700"> 
          </object>
        </div>
        
        <input type="radio" name="tabs" id="tab4"> 
        <label for="tab4">Data Viz</label>
        <div class="tabContent">
          <div class="row">
            <div class = "wave">
              <img src = "waves.png" class = "waveImage" onclick = "window.location.href = 'https://d7.cs.illinois.edu/projects/Daily-Weather-Waves-of-Daily-High-Temperatures/';">
              <div class = "wave_text">
                <div class = "text" onclick = "window.location.href = 'https://d7.cs.illinois.edu/projects/Daily-Weather-Waves-of-Daily-High-Temperatures/';">CHP Summer Grant Project</div>
              </div>
            </div>
            <div class = "radial">
              <img src = "radial.png"  class = "radialImage" onclick = "window.location.href = 'https://d7.cs.illinois.edu/projects/Temperature-Radials/?location=Chicago%2C+Illinois&sid=USC00111577';">
              <div class = "radial_text">
                <div class = "text" onclick = "window.location.href = 'https://d7.cs.illinois.edu/projects/Temperature-Radials/?location=Chicago%2C+Illinois&sid=USC00111577';">Undergraduate Senior Thesis</div>
              </div>
            </div>
          </div>
        </div>
        <input type="radio" name="tabs" id="tab5"> 
        <label for="tab5">Teaching</label>
        <div class="tabContent">
          <zero-md id="rightAlign" src="teaching.md"></zero-md>
        </div>

        <input type="radio" name="tabs" id="tab1" checked> 
        <label for="tab1">About Me</label>
        <div class="tabContent">
          <zero-md id="rightAlign" src="aboutme.md"></zero-md>
        </div>
        
       <input type="radio" name="tabs" id="tab6"> 
        <label for="tab6">Project</label>
        <div class="tabContent">
          <zero-md src="extra.md"></zero-md>
        </div>
       
        <!-- ------------------------------------------------------------------------ -->
        <!-- if you want to add a tab(s) copy and paste below, and make the corresponding
             .md file. make sure to change id if adding more than just one. -->
        <!-- ------------------------------------------------------------------------ -->
        <!--
        <input type="radio" name="tabs" id="tab6"> 
        <label for="tab6">Extra</label>
        <div class="tabContent">
          <zero-md src="extra.md"></zero-md>
        </div>
        -->
        <!-- ------------------------------------------------------------------------ -->
        <!-- ------------------------------------------------------------------------ -->
      </div>
      <!-- ------------------------------------------------------------------------ -->
      <!-- ------------------------------------------------------------------------ -->
  </section>
  
  </div>
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
      <!-- ------------------------------------------------------------------------ -->
  <!--                    Using this to read in md files                        -->
  <!-- ------------------------------------------------------------------------ -->
  <script
    type="module"
    src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"
  ></script>
  
  <!-- ------------------------------------------------------------------------ -->
  <!-- ------------------------------------------------------------------------ -->
  </body>
</html>
  
